
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
/* nav styles */
.main-background{
    background-color: #F5F5F5;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px 130px 20px 125px;
    background-color: #F5F5F5;
}
.nav-title{
    color:  #0E0E0E;
    text-align: left;
}

/* banner styles */
.banner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50;
    padding: 60px 80px 60px 80px;
    background-color: #C6E4D6;
    margin:0 150px;
    border-radius: 10px;  
}
.banner-title{
    color: #0E0E0E80;
    font-weight: 500;
    margin: 16 auto;
    font-size: 20px;
}
.banner-sub-title{
    color: #0E0E0E;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    width: 475px;
}
.banner-btn{
    background-color: #006A50;
    color: #FFFFFF;
    margin: 0px 36px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    padding: 17px 34px 17px 34px;
    border: none;
}

/* vision section styles */
.Future-vision{
    
    margin:0 150px;
    
}
.vision-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.vision{
    background-color: #006A50;
    padding: 24px;
    border-radius: 10px;
    margin-right: 30px;
}
.Future-vision-title{
    color:#0E0E0E;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
 }
.Future-vision-desc{
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
    gap: 12;
}
.vision-bg1{
    background-color: #5490F533;
}
.vision-bg2{
    background-color: #C6E4D6;
}
.vision-bg3{
    background-color: #F7EBCF;
}
.vision-title{
    color: #0E0E0ECC;
    font-size: 20px;
    font-weight: 700;
}
.vision-desc{
    color: #0E0E0EB3;
    font-size: 16px;
    font-weight: 400;
}
.vision-btn1{
    text-align: center;
    padding: 8px 14px 11px 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #5490F5;
    border: none;
    color: #FFFFFF;
}
.vision-btn2{
    text-align: center;
    padding: 8px 14px 11px 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color:#09A15C;
    border: none;
    color: #FFFFFF;
}
.vision-btn3{
    text-align: center;
    padding: 8px 14px 11px 20px;
    margin-top: 20px;
    border-radius: 8px;
    background-color:#FFC239;
    border: none;
    color: #FFFFFF;
}

/* Recent news section style */

.news-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
}
.news-reverse{
    flex-direction: row-reverse;
}
.recent-news{
    margin: 30px 150px;
}
.recent-news-title{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #0E0E0E;
}
.recent-news-desc{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #0E0E0EB3;
    margin-bottom: 20px;
}
.news-img{
    border-radius: 10px;
    margin: 30px;
    margin-right: 50px;
    background: #ffffff;
}
.news-title{
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    color: #0E0E0ECC;
    background: #ffffff;
}
.news-date, .news-time{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #0E0E0EB3;
    margin-right: 20px;
    background: #ffffff;

}
.news-desc{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #0E0E0EB3;
    background: #ffffff;
}
.news-btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    color: #FFFFFF;
    margin: 32px 0px;
    border-radius: 8px;
    padding: 8px 14px 11px 20px;
    border: none;

}
.news{
    background: #ffffff;
    margin: 30px;
}
.news-icon{
    background: #ffffff;
    
}
/* Donate section style */
.donate{
    margin: 0 150px;
}
.donate-amount{
    display: flex;
    justify-content: space-around;
    gap: 20;
    align-items: center;
    margin: 0 100px;
}
.donate-btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    color: #FFFFFF;
    /* margin: 40px 500px; */
    border-radius: 8px;
    padding: 8px 14px 11px 20px;
    border: none;
    align-items: center;
}
.donate-amount-bg{
    background: #FFFFFF;
    margin: 30px;
    padding: 30px 50px;
    border-radius: 10px;
}
.donate-title{
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    text-align: center;
}
.donate-desc{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 18px;
    color: #0E0E0EB3;
}
.donate-amount-2{
    background-color: #C6E4D6;
}
.donate-amount-other{
    align-content: center;
    margin: 20px 300px;
    padding: 15px 200px;
    border-radius: 10px;
    border: none;
}